.landing {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 86vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.card-form {
  opacity: 0.9;
}

.form-control::placeholder {
  color: #bbb !important;
}
