html,
body {
  position: relative;
  min-height: 100vh;
  /* border: 1px solid green; */
}

/* .landing {
  position: relative;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -100px;
} */

.landing-inner {
  padding-top: 80px;
}

.card-form {
  opacity: 0.9;
}

.form-control::placeholder {
  color: #bbb !important;
}

.footer-spacing {
  padding-bottom: 80px;
  /* border: 1px solid red; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  /* border: 1px solid blue; */
}
